.pokemonHeader-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pokemonImage-container {
  padding: 0px 8px 16px 8px;
}

.pokemonImage {
  background-color: white;
  border: 2px solid lightgrey;
  border-radius: 100%;
  width: 280px;
  height: 280px;
  object-fit: cover;
}

.pokemonImage-container-button {
  background-color: white;
  border: 2px solid lightgrey;
  border-radius: 100%;
  padding: 20px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pokemonImage-button-image {
  width: 30px;
}
